*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


body{
    background-color: rgb(113, 230, 230);
}


header{
    background-color: white;
    height: 100px;
    padding: 10px 25px;
    margin-bottom: ;
    
}


.logo-text{
    font-size: 30px;
    font-weight: 800;
    vertical-align: middle;
}

.logo{
    height: 85px;
    vertical-align: middle;
}


.intestazione{
    font-size: 35px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}


.container{
    width: 70%;
    margin: 0 auto;
    background-color: rgb(222, 241, 241);
    border-radius: 20px 20px 0px 0px;


}

.bottone-1{
   padding: 5px 10px;
   border-radius: 10px;
   background-color: cornflowerblue;
   color: white;
}

.bottone-2{
   padding: 5px 10px;
   border-radius: 10px;
   background-color: white;
   color: grey;
}


.lista-1{
    padding: 80px;
}

ul{
    list-style-type: none;
    padding: 20px;
}

.circle{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    display: inline-block;
}

.checked:before{
    content: '\2713' ;
    border: 1px solid green;
    color: green;
    border-radius: 20px;
}

.failed:before{
    content: '\2573';
    border-radius: 10px;
    font-size: 12px;
    color: red;
    border: 1px solid red;
}

.tag{
    padding: 6px 6px;
    border-radius: 12px;
    font-size: 8px;
    color: white;
}

.tag-type-1{
    background-color: cornflowerblue;
}

.tag-type-2{
    background-color: blueviolet;
}

.tag-type-3{
    background-color: green;
}

.tag-type-4{
    background-color: violet;
}

.tag-type-5{
    background-color: grey;
}

.tag-type-6{
    background-color: pink;
}