*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.contenitore{
    padding: 15px;
    margin: 125px;
    box-sizing: border-box;
    line-height: 50px;
    
}

.logo{
    display: inline-block;
    vertical-align: middle;
}
.intestazione{
    font-size: 35px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.bottone-1{
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    margin: 25px;
}

.bottone-2{
    background-color: white;
    color: grey;
    border-radius: 5px;
    margin: -25px;
}

.titolo-uno{
    font-size: 20px;
    color: cadetblue;
}
.titolo-due{
    font-size: 20px;
    color: cadetblue;
}
.titolo-tre{
    font-size: 20px;
    color: cadetblue;
}

ul{
    list-style-type: none;
}

.done::before{
    content: icon;
}